EDDP1AW/web/WEB-INF/wsdl/localhost_8080/EDDP1WS/WSP1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSP1">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/EDDP1WS/WSP1?xsd=1"/>
</xsd:schema>
</types>
<message name="getListaBus">
<part name="parameters" element="tns:getListaBus"/>
</message>
<message name="getListaBusResponse">
<part name="parameters" element="tns:getListaBusResponse"/>
</message>
<message name="Agregarbus">
<part name="parameters" element="tns:Agregarbus"/>
</message>
<message name="AgregarbusResponse">
<part name="parameters" element="tns:AgregarbusResponse"/>
</message>
<message name="LoginAdmi">
<part name="parameters" element="tns:LoginAdmi"/>
</message>
<message name="LoginAdmiResponse">
<part name="parameters" element="tns:LoginAdmiResponse"/>
</message>
<message name="CerrarSesion">
<part name="parameters" element="tns:CerrarSesion"/>
</message>
<message name="CerrarSesionResponse">
<part name="parameters" element="tns:CerrarSesionResponse"/>
</message>
<message name="DibujarArbol">
<part name="parameters" element="tns:DibujarArbol"/>
</message>
<message name="DibujarArbolResponse">
<part name="parameters" element="tns:DibujarArbolResponse"/>
</message>
<message name="DibujarAVLAdmi">
<part name="parameters" element="tns:DibujarAVLAdmi"/>
</message>
<message name="DibujarAVLAdmiResponse">
<part name="parameters" element="tns:DibujarAVLAdmiResponse"/>
</message>
<message name="UsuarioAdmiActivo">
<part name="parameters" element="tns:UsuarioAdmiActivo"/>
</message>
<message name="UsuarioAdmiActivoResponse">
<part name="parameters" element="tns:UsuarioAdmiActivoResponse"/>
</message>
<message name="EliminarAdministrador">
<part name="parameters" element="tns:EliminarAdministrador"/>
</message>
<message name="EliminarAdministradorResponse">
<part name="parameters" element="tns:EliminarAdministradorResponse"/>
</message>
<message name="AgregarAdministrador">
<part name="parameters" element="tns:AgregarAdministrador"/>
</message>
<message name="AgregarAdministradorResponse">
<part name="parameters" element="tns:AgregarAdministradorResponse"/>
</message>
<message name="mostrarlistabuses">
<part name="parameters" element="tns:mostrarlistabuses"/>
</message>
<message name="mostrarlistabusesResponse">
<part name="parameters" element="tns:mostrarlistabusesResponse"/>
</message>
<portType name="WSP1">
<operation name="getListaBus">
<input wsam:Action="http://WS/WSP1/getListaBusRequest" message="tns:getListaBus"/>
<output wsam:Action="http://WS/WSP1/getListaBusResponse" message="tns:getListaBusResponse"/>
</operation>
<operation name="Agregarbus">
<input wsam:Action="http://WS/WSP1/AgregarbusRequest" message="tns:Agregarbus"/>
<output wsam:Action="http://WS/WSP1/AgregarbusResponse" message="tns:AgregarbusResponse"/>
</operation>
<operation name="LoginAdmi">
<input wsam:Action="http://WS/WSP1/LoginAdmiRequest" message="tns:LoginAdmi"/>
<output wsam:Action="http://WS/WSP1/LoginAdmiResponse" message="tns:LoginAdmiResponse"/>
</operation>
<operation name="CerrarSesion">
<input wsam:Action="http://WS/WSP1/CerrarSesionRequest" message="tns:CerrarSesion"/>
<output wsam:Action="http://WS/WSP1/CerrarSesionResponse" message="tns:CerrarSesionResponse"/>
</operation>
<operation name="DibujarArbol">
<input wsam:Action="http://WS/WSP1/DibujarArbolRequest" message="tns:DibujarArbol"/>
<output wsam:Action="http://WS/WSP1/DibujarArbolResponse" message="tns:DibujarArbolResponse"/>
</operation>
<operation name="DibujarAVLAdmi">
<input wsam:Action="http://WS/WSP1/DibujarAVLAdmiRequest" message="tns:DibujarAVLAdmi"/>
<output wsam:Action="http://WS/WSP1/DibujarAVLAdmiResponse" message="tns:DibujarAVLAdmiResponse"/>
</operation>
<operation name="UsuarioAdmiActivo">
<input wsam:Action="http://WS/WSP1/UsuarioAdmiActivoRequest" message="tns:UsuarioAdmiActivo"/>
<output wsam:Action="http://WS/WSP1/UsuarioAdmiActivoResponse" message="tns:UsuarioAdmiActivoResponse"/>
</operation>
<operation name="EliminarAdministrador">
<input wsam:Action="http://WS/WSP1/EliminarAdministradorRequest" message="tns:EliminarAdministrador"/>
<output wsam:Action="http://WS/WSP1/EliminarAdministradorResponse" message="tns:EliminarAdministradorResponse"/>
</operation>
<operation name="AgregarAdministrador">
<input wsam:Action="http://WS/WSP1/AgregarAdministradorRequest" message="tns:AgregarAdministrador"/>
<output wsam:Action="http://WS/WSP1/AgregarAdministradorResponse" message="tns:AgregarAdministradorResponse"/>
</operation>
<operation name="mostrarlistabuses">
<input wsam:Action="http://WS/WSP1/mostrarlistabusesRequest" message="tns:mostrarlistabuses"/>
<output wsam:Action="http://WS/WSP1/mostrarlistabusesResponse" message="tns:mostrarlistabusesResponse"/>
</operation>
</portType>
<binding name="WSP1PortBinding" type="tns:WSP1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListaBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Agregarbus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginAdmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CerrarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DibujarArbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DibujarAVLAdmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioAdmiActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarlistabuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSP1">
<port name="WSP1Port" binding="tns:WSP1PortBinding">
<soap:address location="http://localhost:8080/EDDP1WS/WSP1"/>
</port>
</service>
</definitions>