EDDPr1AW/web/WEB-INF/wsdl/localhost_8080/EDDPr1WS/WSP1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSP1">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/EDDPr1WS/WSP1?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarBus">
<part name="parameters" element="tns:AgregarBus"/>
</message>
<message name="AgregarBusResponse">
<part name="parameters" element="tns:AgregarBusResponse"/>
</message>
<message name="ModificarEstacion">
<part name="parameters" element="tns:ModificarEstacion"/>
</message>
<message name="ModificarEstacionResponse">
<part name="parameters" element="tns:ModificarEstacionResponse"/>
</message>
<message name="GraficarBusesDeChofer">
<part name="parameters" element="tns:GraficarBusesDeChofer"/>
</message>
<message name="GraficarBusesDeChoferResponse">
<part name="parameters" element="tns:GraficarBusesDeChoferResponse"/>
</message>
<message name="EliminarAsignacion">
<part name="parameters" element="tns:EliminarAsignacion"/>
</message>
<message name="EliminarAsignacionResponse">
<part name="parameters" element="tns:EliminarAsignacionResponse"/>
</message>
<message name="AgregarEstacionRuta">
<part name="parameters" element="tns:AgregarEstacionRuta"/>
</message>
<message name="AgregarEstacionRutaResponse">
<part name="parameters" element="tns:AgregarEstacionRutaResponse"/>
</message>
<message name="EliminarEstacionRuta">
<part name="parameters" element="tns:EliminarEstacionRuta"/>
</message>
<message name="EliminarEstacionRutaResponse">
<part name="parameters" element="tns:EliminarEstacionRutaResponse"/>
</message>
<message name="isChoferactivo">
<part name="parameters" element="tns:isChoferactivo"/>
</message>
<message name="isChoferactivoResponse">
<part name="parameters" element="tns:isChoferactivoResponse"/>
</message>
<message name="LoginChofer">
<part name="parameters" element="tns:LoginChofer"/>
</message>
<message name="LoginChoferResponse">
<part name="parameters" element="tns:LoginChoferResponse"/>
</message>
<message name="CerrarSesion">
<part name="parameters" element="tns:CerrarSesion"/>
</message>
<message name="CerrarSesionResponse">
<part name="parameters" element="tns:CerrarSesionResponse"/>
</message>
<message name="AgregarChofer">
<part name="parameters" element="tns:AgregarChofer"/>
</message>
<message name="AgregarChoferResponse">
<part name="parameters" element="tns:AgregarChoferResponse"/>
</message>
<message name="EliminarChofer">
<part name="parameters" element="tns:EliminarChofer"/>
</message>
<message name="EliminarChoferResponse">
<part name="parameters" element="tns:EliminarChoferResponse"/>
</message>
<message name="DibujarArboles">
<part name="parameters" element="tns:DibujarArboles"/>
</message>
<message name="DibujarArbolesResponse">
<part name="parameters" element="tns:DibujarArbolesResponse"/>
</message>
<message name="ModificarAdmi">
<part name="parameters" element="tns:ModificarAdmi"/>
</message>
<message name="ModificarAdmiResponse">
<part name="parameters" element="tns:ModificarAdmiResponse"/>
</message>
<message name="ModificarChofer">
<part name="parameters" element="tns:ModificarChofer"/>
</message>
<message name="ModificarChoferResponse">
<part name="parameters" element="tns:ModificarChoferResponse"/>
</message>
<message name="Asignar">
<part name="parameters" element="tns:Asignar"/>
</message>
<message name="AsignarResponse">
<part name="parameters" element="tns:AsignarResponse"/>
</message>
<message name="AgregarRuta">
<part name="parameters" element="tns:AgregarRuta"/>
</message>
<message name="AgregarRutaResponse">
<part name="parameters" element="tns:AgregarRutaResponse"/>
</message>
<message name="EliminarRuta">
<part name="parameters" element="tns:EliminarRuta"/>
</message>
<message name="EliminarRutaResponse">
<part name="parameters" element="tns:EliminarRutaResponse"/>
</message>
<message name="GraficarRuta">
<part name="parameters" element="tns:GraficarRuta"/>
</message>
<message name="GraficarRutaResponse">
<part name="parameters" element="tns:GraficarRutaResponse"/>
</message>
<message name="EliminarBus">
<part name="parameters" element="tns:EliminarBus"/>
</message>
<message name="EliminarBusResponse">
<part name="parameters" element="tns:EliminarBusResponse"/>
</message>
<message name="UsuarioAdministradorActivo">
<part name="parameters" element="tns:UsuarioAdministradorActivo"/>
</message>
<message name="UsuarioAdministradorActivoResponse">
<part name="parameters" element="tns:UsuarioAdministradorActivoResponse"/>
</message>
<message name="isEstacionclaveactivo">
<part name="parameters" element="tns:isEstacionclaveactivo"/>
</message>
<message name="isEstacionclaveactivoResponse">
<part name="parameters" element="tns:isEstacionclaveactivoResponse"/>
</message>
<message name="isEstaciongeneralactiva">
<part name="parameters" element="tns:isEstaciongeneralactiva"/>
</message>
<message name="isEstaciongeneralactivaResponse">
<part name="parameters" element="tns:isEstaciongeneralactivaResponse"/>
</message>
<message name="LoginAdministrador">
<part name="parameters" element="tns:LoginAdministrador"/>
</message>
<message name="LoginAdministradorResponse">
<part name="parameters" element="tns:LoginAdministradorResponse"/>
</message>
<message name="LoginEstacionClave">
<part name="parameters" element="tns:LoginEstacionClave"/>
</message>
<message name="LoginEstacionClaveResponse">
<part name="parameters" element="tns:LoginEstacionClaveResponse"/>
</message>
<message name="LoginEstacionGeneral">
<part name="parameters" element="tns:LoginEstacionGeneral"/>
</message>
<message name="LoginEstacionGeneralResponse">
<part name="parameters" element="tns:LoginEstacionGeneralResponse"/>
</message>
<message name="AgregarAdministrador">
<part name="parameters" element="tns:AgregarAdministrador"/>
</message>
<message name="AgregarAdministradorResponse">
<part name="parameters" element="tns:AgregarAdministradorResponse"/>
</message>
<message name="AgregarEstacionClave">
<part name="parameters" element="tns:AgregarEstacionClave"/>
</message>
<message name="AgregarEstacionClaveResponse">
<part name="parameters" element="tns:AgregarEstacionClaveResponse"/>
</message>
<message name="AgregarEstacionGeneral">
<part name="parameters" element="tns:AgregarEstacionGeneral"/>
</message>
<message name="AgregarEstacionGeneralResponse">
<part name="parameters" element="tns:AgregarEstacionGeneralResponse"/>
</message>
<message name="EliminarAdministrador">
<part name="parameters" element="tns:EliminarAdministrador"/>
</message>
<message name="EliminarAdministradorResponse">
<part name="parameters" element="tns:EliminarAdministradorResponse"/>
</message>
<message name="EliminarEstacionClave">
<part name="parameters" element="tns:EliminarEstacionClave"/>
</message>
<message name="EliminarEstacionClaveResponse">
<part name="parameters" element="tns:EliminarEstacionClaveResponse"/>
</message>
<message name="EliminarEstacionGeneral">
<part name="parameters" element="tns:EliminarEstacionGeneral"/>
</message>
<message name="EliminarEstacionGeneralResponse">
<part name="parameters" element="tns:EliminarEstacionGeneralResponse"/>
</message>
<portType name="WSP1">
<operation name="AgregarBus">
<input wsam:Action="http://WS/WSP1/AgregarBusRequest" message="tns:AgregarBus"/>
<output wsam:Action="http://WS/WSP1/AgregarBusResponse" message="tns:AgregarBusResponse"/>
</operation>
<operation name="ModificarEstacion">
<input wsam:Action="http://WS/WSP1/ModificarEstacionRequest" message="tns:ModificarEstacion"/>
<output wsam:Action="http://WS/WSP1/ModificarEstacionResponse" message="tns:ModificarEstacionResponse"/>
</operation>
<operation name="GraficarBusesDeChofer">
<input wsam:Action="http://WS/WSP1/GraficarBusesDeChoferRequest" message="tns:GraficarBusesDeChofer"/>
<output wsam:Action="http://WS/WSP1/GraficarBusesDeChoferResponse" message="tns:GraficarBusesDeChoferResponse"/>
</operation>
<operation name="EliminarAsignacion">
<input wsam:Action="http://WS/WSP1/EliminarAsignacionRequest" message="tns:EliminarAsignacion"/>
<output wsam:Action="http://WS/WSP1/EliminarAsignacionResponse" message="tns:EliminarAsignacionResponse"/>
</operation>
<operation name="AgregarEstacionRuta">
<input wsam:Action="http://WS/WSP1/AgregarEstacionRutaRequest" message="tns:AgregarEstacionRuta"/>
<output wsam:Action="http://WS/WSP1/AgregarEstacionRutaResponse" message="tns:AgregarEstacionRutaResponse"/>
</operation>
<operation name="EliminarEstacionRuta">
<input wsam:Action="http://WS/WSP1/EliminarEstacionRutaRequest" message="tns:EliminarEstacionRuta"/>
<output wsam:Action="http://WS/WSP1/EliminarEstacionRutaResponse" message="tns:EliminarEstacionRutaResponse"/>
</operation>
<operation name="isChoferactivo">
<input wsam:Action="http://WS/WSP1/isChoferactivoRequest" message="tns:isChoferactivo"/>
<output wsam:Action="http://WS/WSP1/isChoferactivoResponse" message="tns:isChoferactivoResponse"/>
</operation>
<operation name="LoginChofer">
<input wsam:Action="http://WS/WSP1/LoginChoferRequest" message="tns:LoginChofer"/>
<output wsam:Action="http://WS/WSP1/LoginChoferResponse" message="tns:LoginChoferResponse"/>
</operation>
<operation name="CerrarSesion">
<input wsam:Action="http://WS/WSP1/CerrarSesionRequest" message="tns:CerrarSesion"/>
<output wsam:Action="http://WS/WSP1/CerrarSesionResponse" message="tns:CerrarSesionResponse"/>
</operation>
<operation name="AgregarChofer">
<input wsam:Action="http://WS/WSP1/AgregarChoferRequest" message="tns:AgregarChofer"/>
<output wsam:Action="http://WS/WSP1/AgregarChoferResponse" message="tns:AgregarChoferResponse"/>
</operation>
<operation name="EliminarChofer">
<input wsam:Action="http://WS/WSP1/EliminarChoferRequest" message="tns:EliminarChofer"/>
<output wsam:Action="http://WS/WSP1/EliminarChoferResponse" message="tns:EliminarChoferResponse"/>
</operation>
<operation name="DibujarArboles">
<input wsam:Action="http://WS/WSP1/DibujarArbolesRequest" message="tns:DibujarArboles"/>
<output wsam:Action="http://WS/WSP1/DibujarArbolesResponse" message="tns:DibujarArbolesResponse"/>
</operation>
<operation name="ModificarAdmi">
<input wsam:Action="http://WS/WSP1/ModificarAdmiRequest" message="tns:ModificarAdmi"/>
<output wsam:Action="http://WS/WSP1/ModificarAdmiResponse" message="tns:ModificarAdmiResponse"/>
</operation>
<operation name="ModificarChofer">
<input wsam:Action="http://WS/WSP1/ModificarChoferRequest" message="tns:ModificarChofer"/>
<output wsam:Action="http://WS/WSP1/ModificarChoferResponse" message="tns:ModificarChoferResponse"/>
</operation>
<operation name="Asignar">
<input wsam:Action="http://WS/WSP1/AsignarRequest" message="tns:Asignar"/>
<output wsam:Action="http://WS/WSP1/AsignarResponse" message="tns:AsignarResponse"/>
</operation>
<operation name="AgregarRuta">
<input wsam:Action="http://WS/WSP1/AgregarRutaRequest" message="tns:AgregarRuta"/>
<output wsam:Action="http://WS/WSP1/AgregarRutaResponse" message="tns:AgregarRutaResponse"/>
</operation>
<operation name="EliminarRuta">
<input wsam:Action="http://WS/WSP1/EliminarRutaRequest" message="tns:EliminarRuta"/>
<output wsam:Action="http://WS/WSP1/EliminarRutaResponse" message="tns:EliminarRutaResponse"/>
</operation>
<operation name="GraficarRuta">
<input wsam:Action="http://WS/WSP1/GraficarRutaRequest" message="tns:GraficarRuta"/>
<output wsam:Action="http://WS/WSP1/GraficarRutaResponse" message="tns:GraficarRutaResponse"/>
</operation>
<operation name="EliminarBus">
<input wsam:Action="http://WS/WSP1/EliminarBusRequest" message="tns:EliminarBus"/>
<output wsam:Action="http://WS/WSP1/EliminarBusResponse" message="tns:EliminarBusResponse"/>
</operation>
<operation name="UsuarioAdministradorActivo">
<input wsam:Action="http://WS/WSP1/UsuarioAdministradorActivoRequest" message="tns:UsuarioAdministradorActivo"/>
<output wsam:Action="http://WS/WSP1/UsuarioAdministradorActivoResponse" message="tns:UsuarioAdministradorActivoResponse"/>
</operation>
<operation name="isEstacionclaveactivo">
<input wsam:Action="http://WS/WSP1/isEstacionclaveactivoRequest" message="tns:isEstacionclaveactivo"/>
<output wsam:Action="http://WS/WSP1/isEstacionclaveactivoResponse" message="tns:isEstacionclaveactivoResponse"/>
</operation>
<operation name="isEstaciongeneralactiva">
<input wsam:Action="http://WS/WSP1/isEstaciongeneralactivaRequest" message="tns:isEstaciongeneralactiva"/>
<output wsam:Action="http://WS/WSP1/isEstaciongeneralactivaResponse" message="tns:isEstaciongeneralactivaResponse"/>
</operation>
<operation name="LoginAdministrador">
<input wsam:Action="http://WS/WSP1/LoginAdministradorRequest" message="tns:LoginAdministrador"/>
<output wsam:Action="http://WS/WSP1/LoginAdministradorResponse" message="tns:LoginAdministradorResponse"/>
</operation>
<operation name="LoginEstacionClave">
<input wsam:Action="http://WS/WSP1/LoginEstacionClaveRequest" message="tns:LoginEstacionClave"/>
<output wsam:Action="http://WS/WSP1/LoginEstacionClaveResponse" message="tns:LoginEstacionClaveResponse"/>
</operation>
<operation name="LoginEstacionGeneral">
<input wsam:Action="http://WS/WSP1/LoginEstacionGeneralRequest" message="tns:LoginEstacionGeneral"/>
<output wsam:Action="http://WS/WSP1/LoginEstacionGeneralResponse" message="tns:LoginEstacionGeneralResponse"/>
</operation>
<operation name="AgregarAdministrador">
<input wsam:Action="http://WS/WSP1/AgregarAdministradorRequest" message="tns:AgregarAdministrador"/>
<output wsam:Action="http://WS/WSP1/AgregarAdministradorResponse" message="tns:AgregarAdministradorResponse"/>
</operation>
<operation name="AgregarEstacionClave">
<input wsam:Action="http://WS/WSP1/AgregarEstacionClaveRequest" message="tns:AgregarEstacionClave"/>
<output wsam:Action="http://WS/WSP1/AgregarEstacionClaveResponse" message="tns:AgregarEstacionClaveResponse"/>
</operation>
<operation name="AgregarEstacionGeneral">
<input wsam:Action="http://WS/WSP1/AgregarEstacionGeneralRequest" message="tns:AgregarEstacionGeneral"/>
<output wsam:Action="http://WS/WSP1/AgregarEstacionGeneralResponse" message="tns:AgregarEstacionGeneralResponse"/>
</operation>
<operation name="EliminarAdministrador">
<input wsam:Action="http://WS/WSP1/EliminarAdministradorRequest" message="tns:EliminarAdministrador"/>
<output wsam:Action="http://WS/WSP1/EliminarAdministradorResponse" message="tns:EliminarAdministradorResponse"/>
</operation>
<operation name="EliminarEstacionClave">
<input wsam:Action="http://WS/WSP1/EliminarEstacionClaveRequest" message="tns:EliminarEstacionClave"/>
<output wsam:Action="http://WS/WSP1/EliminarEstacionClaveResponse" message="tns:EliminarEstacionClaveResponse"/>
</operation>
<operation name="EliminarEstacionGeneral">
<input wsam:Action="http://WS/WSP1/EliminarEstacionGeneralRequest" message="tns:EliminarEstacionGeneral"/>
<output wsam:Action="http://WS/WSP1/EliminarEstacionGeneralResponse" message="tns:EliminarEstacionGeneralResponse"/>
</operation>
</portType>
<binding name="WSP1PortBinding" type="tns:WSP1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEstacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GraficarBusesDeChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarAsignacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstacionRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isChoferactivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CerrarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DibujarArboles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarAdmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Asignar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GraficarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UsuarioAdministradorActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isEstacionclaveactivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isEstaciongeneralactiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSP1">
<port name="WSP1Port" binding="tns:WSP1PortBinding">
<soap:address location="http://localhost:8080/EDDPr1WS/WSP1"/>
</port>
</service>
</definitions>