EDDPr1AW/web/WEB-INF/wsdl/localhost_8080/EDDPr1WS/WSP1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="AgregarAdministrador" type="tns:AgregarAdministrador"/>

<xs:element name="AgregarAdministradorResponse" type="tns:AgregarAdministradorResponse"/>

<xs:element name="AgregarBus" type="tns:AgregarBus"/>

<xs:element name="AgregarBusResponse" type="tns:AgregarBusResponse"/>

<xs:element name="AgregarChofer" type="tns:AgregarChofer"/>

<xs:element name="AgregarChoferResponse" type="tns:AgregarChoferResponse"/>

<xs:element name="AgregarEstacionClave" type="tns:AgregarEstacionClave"/>

<xs:element name="AgregarEstacionClaveResponse" type="tns:AgregarEstacionClaveResponse"/>

<xs:element name="AgregarEstacionGeneral" type="tns:AgregarEstacionGeneral"/>

<xs:element name="AgregarEstacionGeneralResponse" type="tns:AgregarEstacionGeneralResponse"/>

<xs:element name="AgregarEstacionRuta" type="tns:AgregarEstacionRuta"/>

<xs:element name="AgregarEstacionRutaResponse" type="tns:AgregarEstacionRutaResponse"/>

<xs:element name="AgregarRuta" type="tns:AgregarRuta"/>

<xs:element name="AgregarRutaResponse" type="tns:AgregarRutaResponse"/>

<xs:element name="Asignar" type="tns:Asignar"/>

<xs:element name="AsignarResponse" type="tns:AsignarResponse"/>

<xs:element name="CerrarSesion" type="tns:CerrarSesion"/>

<xs:element name="CerrarSesionResponse" type="tns:CerrarSesionResponse"/>

<xs:element name="DibujarArboles" type="tns:DibujarArboles"/>

<xs:element name="DibujarArbolesResponse" type="tns:DibujarArbolesResponse"/>

<xs:element name="EliminarAdministrador" type="tns:EliminarAdministrador"/>

<xs:element name="EliminarAdministradorResponse" type="tns:EliminarAdministradorResponse"/>

<xs:element name="EliminarAsignacion" type="tns:EliminarAsignacion"/>

<xs:element name="EliminarAsignacionResponse" type="tns:EliminarAsignacionResponse"/>

<xs:element name="EliminarBus" type="tns:EliminarBus"/>

<xs:element name="EliminarBusResponse" type="tns:EliminarBusResponse"/>

<xs:element name="EliminarChofer" type="tns:EliminarChofer"/>

<xs:element name="EliminarChoferResponse" type="tns:EliminarChoferResponse"/>

<xs:element name="EliminarEstacionClave" type="tns:EliminarEstacionClave"/>

<xs:element name="EliminarEstacionClaveResponse" type="tns:EliminarEstacionClaveResponse"/>

<xs:element name="EliminarEstacionGeneral" type="tns:EliminarEstacionGeneral"/>

<xs:element name="EliminarEstacionGeneralResponse" type="tns:EliminarEstacionGeneralResponse"/>

<xs:element name="EliminarEstacionRuta" type="tns:EliminarEstacionRuta"/>

<xs:element name="EliminarEstacionRutaResponse" type="tns:EliminarEstacionRutaResponse"/>

<xs:element name="EliminarRuta" type="tns:EliminarRuta"/>

<xs:element name="EliminarRutaResponse" type="tns:EliminarRutaResponse"/>

<xs:element name="GraficarBusesDeChofer" type="tns:GraficarBusesDeChofer"/>

<xs:element name="GraficarBusesDeChoferResponse" type="tns:GraficarBusesDeChoferResponse"/>

<xs:element name="GraficarRuta" type="tns:GraficarRuta"/>

<xs:element name="GraficarRutaResponse" type="tns:GraficarRutaResponse"/>

<xs:element name="LoginAdministrador" type="tns:LoginAdministrador"/>

<xs:element name="LoginAdministradorResponse" type="tns:LoginAdministradorResponse"/>

<xs:element name="LoginChofer" type="tns:LoginChofer"/>

<xs:element name="LoginChoferResponse" type="tns:LoginChoferResponse"/>

<xs:element name="LoginEstacionClave" type="tns:LoginEstacionClave"/>

<xs:element name="LoginEstacionClaveResponse" type="tns:LoginEstacionClaveResponse"/>

<xs:element name="LoginEstacionGeneral" type="tns:LoginEstacionGeneral"/>

<xs:element name="LoginEstacionGeneralResponse" type="tns:LoginEstacionGeneralResponse"/>

<xs:element name="ModificarAdmi" type="tns:ModificarAdmi"/>

<xs:element name="ModificarAdmiResponse" type="tns:ModificarAdmiResponse"/>

<xs:element name="ModificarChofer" type="tns:ModificarChofer"/>

<xs:element name="ModificarChoferResponse" type="tns:ModificarChoferResponse"/>

<xs:element name="ModificarEstacion" type="tns:ModificarEstacion"/>

<xs:element name="ModificarEstacionResponse" type="tns:ModificarEstacionResponse"/>

<xs:element name="UsuarioAdministradorActivo" type="tns:UsuarioAdministradorActivo"/>

<xs:element name="UsuarioAdministradorActivoResponse" type="tns:UsuarioAdministradorActivoResponse"/>

<xs:element name="isChoferactivo" type="tns:isChoferactivo"/>

<xs:element name="isChoferactivoResponse" type="tns:isChoferactivoResponse"/>

<xs:element name="isEstacionclaveactivo" type="tns:isEstacionclaveactivo"/>

<xs:element name="isEstacionclaveactivoResponse" type="tns:isEstacionclaveactivoResponse"/>

<xs:element name="isEstaciongeneralactiva" type="tns:isEstaciongeneralactiva"/>

<xs:element name="isEstaciongeneralactivaResponse" type="tns:isEstaciongeneralactivaResponse"/>

<xs:complexType name="DibujarArboles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DibujarArbolesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionGeneral">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarChoferResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarEstacionClave">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionClaveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarEstacionGeneral">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionGeneralResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ModificarAdmi">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarAdmiResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarEstacionRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarEstacionRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UsuarioAdministradorActivo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UsuarioAdministradorActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAdministrador">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LoginAdministrador">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Asignar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LoginEstacionGeneral">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAdministrador">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAdministradorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarEstacionClave">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarBusResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CerrarSesion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CerrarSesionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LoginEstacionClave">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isEstacionclaveactivo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isEstacionclaveactivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isEstaciongeneralactiva">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isEstaciongeneralactivaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAsignacion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAsignacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarChoferResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ModificarEstacion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarEstacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isChoferactivo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isChoferactivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarBusesDeChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarBusesDeChoferResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>